<!DOCTYPE html>
<html lang="en">
<head>
  <title>first application</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>


<body>
<div id="page-container">
    <div id="content-wrap">
      <app-nav></app-nav> 
      <div id="home" class="banner-area">
        <div class="banner-text">the art of anticipation</div>
      </div>



    </div> <!-- end of .content-wrap -->

    <app-footer></app-footer>

</div> <!-- end of #page-container -->
</body>
</html>


